TutorBot - Parte B.json


{
  "name": "TutorBot - Parte B",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "958b9172-9625-4344-9fa5-cdb5767ce1e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac018fca-1e4e-4352-9cf7-c7910a5182a8",
              "name": "telegram_user",
              "value": "123456789",
              "type": "string"
            },
            {
              "id": "3d8924f4-2dc9-45d0-b22a-957ffb5d1aa9",
              "name": "chat_id",
              "value": "6081533129",
              "type": "string"
            },
            {
              "id": "fcffee9e-0341-4e25-88fb-2a179e22d4ca",
              "name": "materia",
              "value": "Historia",
              "type": "string"
            },
            {
              "id": "a2876404-66ee-443b-b991-daeba838617b",
              "name": "fecha",
              "value": "2026-07-14",
              "type": "string"
            },
            {
              "id": "717b2ffe-5662-44ef-aceb-d0d30f0e50cd",
              "name": "dia_semana",
              "value": "Martes",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "41657962-16fd-4e78-a3af-cd739d641eac",
      "name": "Simular Datos Parte A"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Disponibilidad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "531f5e03-1123-4e45-a059-2474000f9017",
      "name": "Leer Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 29325785,
          "mode": "list",
          "cachedResultName": "Tutores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=29325785"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "050b5276-52f5-41dc-8a4f-570c34dfdf99",
      "name": "Leer Tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Recuperamos los datos simulados (materia, fecha, dia_semana que \"Parte A\" nos habría dado)\nconst sesion = $('Simular Datos Parte A').first().json;\n\n// 2. Filtramos tutores: que estén Activos y que den la materia pedida\nconst tutores = $('Leer Tutores').all().map(i => i.json)\n  .filter(t => t.estado === 'Activo' && (t.especialidad_materias || '').includes(sesion.materia));\n\n// 3. Tomamos TODA la disponibilidad que llega a este nodo (viene del nodo anterior)\nconst disponibilidad = $input.all().map(i => i.json);\n\n// 4. De los tutores filtrados, sacamos solo sus ids\nconst tutorIds = tutores.map(t => t.id_tutor);\n\n// 5. Buscamos un slot de disponibilidad que sea de uno de esos tutores, ese día, y que esté Libre\nconst libre = disponibilidad.find(d =>\n  tutorIds.includes(d.id_tutor) &&\n  d.dia_semana === sesion.dia_semana &&\n  d.estado === 'Libre'\n);\n\n// 6. Si encontramos un slot libre, buscamos los datos completos de ese tutor\nconst tutor = tutores.find(t => t.id_tutor === (libre ? libre.id_tutor : null));\n\n// 7. Devolvemos un solo objeto con todo lo que necesitan los siguientes nodos\nreturn [{\n  json: {\n    ...sesion,\n    encontrado: !!libre,\n    id_dispo: libre ? libre.id_dispo : null,\n    hora_inicio: libre ? libre.hora_inicio : null,\n    tutor_nombre: tutor ? tutor.nombre : null,\n    id_tutor: tutor ? tutor.id_tutor : null,\n    telegram_chat_id_tutor: tutor ? tutor.telegram_chat_id : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "6e6e6913-eb3c-4295-bf3e-e77a57742ae4",
      "name": "Match Tutor Disponible"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1fac835a-8f2e-42f4-b7fe-8c463ab46196",
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        0
      ],
      "id": "8036ea6c-c65e-4187-8bc3-18bb2bf3012e",
      "name": "Tutor Encontrado?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Tutor disponible: {{ $json.tutor_nombre }}      Dia: {{ $json.dia_semana }} Hora: {{ $json.hora_inicio }}      Responde SI para confirmar o NO para cancelar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        -96
      ],
      "id": "4cc8ce52-5ede-4194-894a-6d7e7ff488b6",
      "name": "Enviar Propuesta",
      "webhookId": "52ba93fb-b788-42cf-a5d4-feb670c9c808",
      "credentials": {
        "telegramApi": {
          "id": "tXiWNI4wJ6A02qLd",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 45455125,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=45455125"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "tutoria",
            "paso_actual": "esperando_confirmacion",
            "datos_parciales": "={{ JSON.stringify({materia: $json.materia, fecha: $json.fecha, id_tutor: $json.id_tutor, id_dispo: $json.id_dispo, hora_inicio: $json.hora_inicio, tutor_nombre: $json.tutor_nombre, telegram_chat_id_tutor: $json.telegram_chat_id_tutor}) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        -96
      ],
      "id": "07e44fc8-27c6-4612-9958-1895f57923fd",
      "name": "Guardar Sesion Propuesta.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "No hay tutores disponibles para esa materia y fecha. Intenta con otra fecha.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        96
      ],
      "id": "c576047c-5ca7-4682-b69a-3a4df440dfbb",
      "name": "Sin Tutores Disponibles",
      "webhookId": "06d445c3-ff52-4b89-9e8a-d3a709d882e5",
      "credentials": {
        "telegramApi": {
          "id": "tXiWNI4wJ6A02qLd",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c40fc46-39e2-4ee4-9144-f04a3d57522a",
              "name": "telegram_user",
              "value": "6081533129",
              "type": "string"
            },
            {
              "id": "4900ce68-9580-4558-91e4-b13582b3f3a9",
              "name": "chat_id",
              "value": "6081533129",
              "type": "string"
            },
            {
              "id": "abfadaff-4ce6-40b8-b4df-fce70bd84026",
              "name": "materia",
              "value": "Matematicas",
              "type": "string"
            },
            {
              "id": "8adaa1b3-f6ff-4933-b828-f87ff60d31d9",
              "name": "fecha",
              "value": "2026-07-14",
              "type": "string"
            },
            {
              "id": "046b8366-2a79-4ceb-8046-63d85f9e66f9",
              "name": "id_tutor",
              "value": "T002",
              "type": "string"
            },
            {
              "id": "39c0bf0a-dc8b-46b6-aad6-829c66b1feba",
              "name": "id_dispo",
              "value": "D003",
              "type": "string"
            },
            {
              "id": "d0ec07ee-f61b-4389-94ce-4f0158df93c8",
              "name": "hora_inicio",
              "value": "10:00",
              "type": "string"
            },
            {
              "id": "7981e2b2-a13d-4ca5-b7f5-29ee33dba850",
              "name": "tutor_nombre",
              "value": "Luis Gomez",
              "type": "string"
            },
            {
              "id": "3a6bca75-8bd2-49f2-a630-8c67bb15830e",
              "name": "confirma",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "79a9aa91-e52d-4272-9158-09f91d7be080",
              "name": "telegram_chat_id_tutor",
              "value": "6541674925",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        384
      ],
      "id": "bf4be64f-c8ec-498a-886f-0de7a9ba31b7",
      "name": "Simular Confirmacion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9be7fbfa-5f4c-45bf-ac63-62ee3fbea4c2",
              "leftValue": "={{ $json.confirma }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        384
      ],
      "id": "d7a3a0db-c406-48e3-a2ef-593f2dbc6346",
      "name": "Confirma?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2008639275,
          "mode": "list",
          "cachedResultName": "Tutorias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=2008639275"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "= {{ Date.now() }}",
            "id_estudiante": "={{ $json.telegram_user }}",
            " id_tutor": "= {{ $json.id_tutor }}",
            " materia ": "={{ $json.materia }}",
            "fecha": "={{ $json.fecha }}",
            " hora": "={{ $json.hora_inicio }}",
            "estado": "Asignada"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " id_tutor",
              "displayName": " id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " materia ",
              "displayName": " materia ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " hora",
              "displayName": " hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        288
      ],
      "id": "10734c7a-8e7f-4177-a7a1-b80b81e57329",
      "name": "Crear Tutoria",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Disponibilidad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{ $('Simular Confirmacion').first().json.id_dispo }}",
            "estado": "Ocupado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        288
      ],
      "id": "e416811a-46bc-4cf8-8a12-3e1840ed25ae",
      "name": "Actualizar Disponibilidad Ocupado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Simular Confirmacion').first().json.telegram_chat_id_tutor }}",
        "text": "=Tu tutoria quedo confirmada con {{ $('Simular Confirmacion').first().json.tutor_nombre }} el {{ $('Simular Confirmacion').first().json.fecha }}.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        288
      ],
      "id": "28b8f236-f1be-49a9-a78f-6b468b0e8c54",
      "name": "Confirmar Estudiante",
      "webhookId": "a95cbe54-94b3-47e7-ba9b-22ac28ed8cdd",
      "credentials": {
        "telegramApi": {
          "id": "tXiWNI4wJ6A02qLd",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Simular Confirmacion').first().json.telegram_chat_id_tutor }}",
        "text": "=Nueva tutoria asignada: {{ $('Simular Confirmacion').first().json.materia }} el {{ $('Simular Confirmacion').first().json.fecha }}.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        288
      ],
      "id": "d985ea33-26f6-4304-9628-60e1a0e9e958",
      "name": "Notificar Tutor",
      "webhookId": "97cb6a92-abd8-490f-9f0a-3be409983d2a",
      "credentials": {
        "telegramApi": {
          "id": "tXiWNI4wJ6A02qLd",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 45455125,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=45455125"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Simular Confirmacion').first().json.telegram_user }}",
            "pantalla_actual": "menu",
            "datos_parciales": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        288
      ],
      "id": "4b565761-c61b-4b62-a23b-3c010ad1b50d",
      "name": "Reset Sesion B",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Solicitud cancelada.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        480
      ],
      "id": "f1f30644-1b52-4ea8-9f57-645591ab0061",
      "name": "Cancelado",
      "webhookId": "fce0e8f5-682e-420c-839a-c386976fca3c",
      "credentials": {
        "telegramApi": {
          "id": "tXiWNI4wJ6A02qLd",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww",
          "mode": "list",
          "cachedResultName": "TutorBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 45455125,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmz3UwQSOmPZssZOFpx3-R3m7_XXLMIQha1fzln2Nww/edit#gid=45455125"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "paso_actual": "menu",
            "datos_parciales": " {}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        480
      ],
      "id": "c2f007a1-5c42-4725-9090-7f087b2b475f",
      "name": "Reset Sesion C.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tugFHzrti7hm2mtW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Simular Confirmacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Simular Datos Parte A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simular Datos Parte A": {
      "main": [
        [
          {
            "node": "Leer Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutores": {
      "main": [
        [
          {
            "node": "Leer Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Disponibilidad": {
      "main": [
        [
          {
            "node": "Match Tutor Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Tutor Disponible": {
      "main": [
        [
          {
            "node": "Tutor Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tutor Encontrado?": {
      "main": [
        [
          {
            "node": "Enviar Propuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Propuesta": {
      "main": [
        [
          {
            "node": "Guardar Sesion Propuesta.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simular Confirmacion": {
      "main": [
        [
          {
            "node": "Confirma?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirma?": {
      "main": [
        [
          {
            "node": "Crear Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Disponibilidad Ocupado": {
      "main": [
        [
          {
            "node": "Confirmar Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Estudiante": {
      "main": [
        [
          {
            "node": "Notificar Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Tutor": {
      "main": [
        [
          {
            "node": "Reset Sesion B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Tutoria": {
      "main": [
        [
          {
            "node": "Actualizar Disponibilidad Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelado": {
      "main": [
        [
          {
            "node": "Reset Sesion C.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "57aa817f-42f9-4527-87be-fb999ebc1771",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6829cda617c88adaeeee3bd25ffc61f23a1fb5dc588d2faac2633401ab300ac"
  },
  "nodeGroups": [],
  "id": "4bdLlf06fNbotvOU",
  "tags": []
}